<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/home">Haystack</a>
            <a class="navbar-brand" data-toggle="modal" data-target="#sidebar">
                <span class="glyphicon glyphicon-search"></span>
            </a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div id="sidebar" class="modal left fade" rold="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Search Media</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Search by</label>
                        <div class="radio">
                            <label>
                                <input type="radio" name="searchBy" value="taken" ng-model="searchBy">Date Taken
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="searchBy" value="indexed" ng-model="searchBy">Date Indexed
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">Start</span>
                            <div class="datepicker-container">
                                <input type="text"
                                       class="form-control"
                                       datetimepicker
                                       datetimepicker-options="{{ datetimePickerOptions }}"
                                       ng-model="startTime" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">End</span>
                            <div class="datepicker-container">
                                 <input type="text"
                                       class="form-control"
                                       datetimepicker
                                       datetimepicker-options="{{ datetimePickerOptions }}"
                                       ng-model="endTime" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Include</label>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="pictures" ng-model="showPictures">Pictures
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="videos" ng-model="showVideos">Videos
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Starred</label>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="starred">Only show starred media?
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">Tags</span>
                            <input type="text" class="form-control input" id="searchByTags" />
                        </div>
                    </div>
                    <button class="btn btn-primary" data-dismiss="modal" ng-click="search()">Search</button>
                </div>
            </div>
            <!-- modal-content -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 main">
            <div class="row">
                <div ng-repeat="m in media | filter:displayFilter" class="img-preview">
                    <img src="img/placeholder.png" ng-if="m.type == 'JPG'" />
                    <img src="img/placeholder-video.jpg" ng-if="m.type == 'MP4'" />
                </div>
            </div>
            <!-- <div class="row">
                <div class="center">
                    <div class="img-preview">
                        <img src="img/loading.gif">
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>
